<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Captivating chronicles</title>
  <link rel="stylesheet" href="./css/About.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" >
</head>

<body>  
  <nav class="navbar">
    <ul>
      <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="/contact"><i class="fas fa-cogs"></i> Contact Us</a></li>
      <li><a href="/register"><i class="fas fa-sign-in-alt"></i> Sign Up</a></li>
      <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
    </ul>
  </nav>
  <h1 >About us</h1>
  <div class="para">
    <p class="info">"Captivating Chronicle" presents a riveting take on the hidden objects genre, where players unravel mysteries in diverse, intricately designed settings. Engage in immersive gameplay as you scour through intricately detailed scenes, solving puzzles and piecing together clues. With stunning visuals and challenging levels, immerse yourself in the thrill of discovery in this captivating gaming adventure.
      
    </p>
  </div>
</body>
</html>
