<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category page</title>
    <link rel="stylesheet" href="../css/category.css">
</head>

<body>
    <div class="header">
       <a href="/"><button class="logout-button">Logout</button></a>
        <a href="./rules"><button class="rules-button">Game Rules</button></a>
    </div>
    <h1>Game On !!</h1>
    <div class="cat">
        <a href="./scene1" class="cat-link">
            <img src="../Images/easy.png" alt="Level 1" class="cat-item" />
            <p class="cat-text">Level 1</p>
        </a>
        <a href="./level2" class="cat-link">
            <img src="../Images/moderate.png" alt="Level 2" class="cat-item" />
            <p class="cat-text">Level 2</p>
        </a>
        <a href="./level3" class="cat-link">
            <img src="../Images/hardlevel.png" alt="Level 3" class="cat-item" />
            <p class="cat-text">Level 3</p>
        </a>
        <a href="./level4" class="cat-link">
            <img src="../Images/level4.png" alt="Level 4" class="cat-item" />
            <p class="cat-text">Level 4</p>
        </a>
        <a href="./level5" class="cat-link">
            <img src="../Images/level5.png" alt="Level 5" class="cat-item" />
            <p class="cat-text">Level 5</p>
        </a>
        <a href="./level6" class="cat-link">
            <img src="../Images/Level6.png" alt="Level 6" class="cat-item" />
            <p class="cat-text">Level 6</p>
        </a>
    </div>
</body>
</html>
