<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="/aboutus"><i class="fas fa-info-circle"></i> About Us</a></li>
      <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
      <li><a href="./register"><i class="fas fa-sign-in-alt"></i>Sign UP</a></li>
    </ul>
  </nav>

  <div class="container">

    <h1>Contact Us</h1>
    <form action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="06f9ba0c-3ca7-4c72-ac4b-b00626211047">
        <input type="text" name="username" id="username" placeholder="Enter your Username" required>
        <input type="email" name="email"   id="email" placeholder="Enter your Email" required>
            <textarea name="text" id="text" cols="40" rows="5" placeholder="Enter your Message"></textarea>
         <button class="button" type="submit" >Submit</button>
        
    </form>
  </div>

</body>
</html>
