<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Captivating chronicles</title>
  <link rel="stylesheet" href="./css/abc.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" >
</head>

<body>  
  <div id="game-container"> 
    <h1>Captivating Chronicles</h1>
    <h3>-The Seek & Discover Odyssey</h3>
    <a href="/login"><button>Start Game</button></a>
  </div>

  <nav class="navbar">
    <ul>
      <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="/contact"><i class="fas fa-cogs"></i> Contact Us</a></li>
      <li><a href="/aboutus"><i class="fas fa-info-circle"></i> About Us</a></li>
      <li><a href="/register"><i class="fas fa-sign-in-alt"></i> Sign Up</a></li>
    </ul>
  </nav>

</body>
</html>