<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/level2.css">
  <title>Level 2</title>
</head>
<body>
  <div id="container">
    <div id="sidebar">
      <div class="clock-container">
        <img src="../Images/watch.png" class="clock-image" alt="clock-image"></img>
        <div id="timer"><span id="time">00:00</span></div>
      </div>

     <div class="nested-sidebar">
      <div id="scoreDisplay">Score: 0</div> <!-- Score display div -->
      <p id="objectCount">Items needed: <span>12</span></p>
      <ul id="list">
        <li id="fairyItem">Fairy</li>
        <li id="bird">Bird</li>
        <li id="DwarfItem">Dwarf</li>
        <li id="keyItem">Key</li>
        <li id="eye">Eye</li>
        <li id="frog">Frog</li>
        <li id="DoorKnocker">Door Knocker</li>
        <li id="Rooster">Rooster</li>
        <li id="lantern">Lantern</li>
        <li id="tulips">Tulips</li>
        <li id="butterfly">Butterfly</li>
        <li id="keyhole">Key Hole</li>
        <li id="clover">Clover</li>
        <li id="starfish">Starfish</li>
        <li id="seahorse">Sea horse</li>
        <li id="hourglass">Hour glass</li>
        

        
      </ul>
    </div>
    <button class="button" id="Clue" >CLUE</button>
    <a href="./category"><button class="button" id="ExitGame">EXIT</button></a>
    </div>

    <div id="background">
      <img src="../Images/fairy.png" class="small-image" style="left: 270px; top: 5px ; height:150px"  id="fairyIcon" onclick="removeListItem('fairyItem')">
      <img src="../Images/bird.png" class="small-image" style="left: 600px; top: 300px; height:50px;" id="Bird" onclick="removeListItem('bird')">
      <img src="../Images/Dwarf.png" class="small-image" style="left: 250px; top: 356px; height:90px" id="DwarfIcon" onclick="removeListItem('DwarfItem')" >
      <img src="../Images/key.png" class="small-image" style="left: 857px; top: 50px; height:50px" id="keyIcon" onclick="removeListItem('keyItem')">
      <img src="../Images/eye.png" class="small-image" style="left: 1000px; top: 150px; height:50px" id="Eye" onclick="removeListItem('eye')">
      <img src="../Images/frog.png" class="small-image" style="left: 210px; top: 622px; height:50px" id="frogIcon" onclick="removeListItem('frog')">
      <img src="../Images/door knocker.png" class="small-image" style="left: 720px; top: 460px; height:50px" id="DoorIcon" onclick="removeListItem('DoorKnocker')">
      <img src="../Images/Rooster.png" class="small-image" style="left: 755px; top: 70px; height:50px" id="Rooster" onclick="removeListItem('Rooster')">
      <img src="../Images/lantern.png" class="small-image" style="left: 1150px; top: 400px; height:50px" id="lantern" onclick="removeListItem('lantern')">
      <img src="../Images/tulips.png" class="small-image" style="left: 800px; top: 300px; height:80px" id="Tulips" onclick="removeListItem('tulips')">
      <img src="../Images/butterfly.png" class="small-image" style="left: 780px; top: 660px; height:40px" id="Butterfly" onclick="removeListItem('butterfly')">
      <img src="../Images/keyhole.png" class="small-image" style="left: 60px; top: 400px; height:80px" id="Key Hole" onclick="removeListItem('keyhole')">
      <img src="../Images/clover.png" class="small-image" style="left: 500px; top: 15px; height:25px" id="Clover" onclick="removeListItem('clover')">
      <img src="../Images/starfish.png" class="small-image" style="left: 988px; top: 300px; height:40px" id="Starfish" onclick="removeListItem('starfish')">
      <img src="../Images/sea horse.png" class="small-image" style="left: 535px; top: 515px; height:50px" id="Sea Horse" onclick="removeListItem('seahorse')">
      <img src="../Images/hourglass.png" class="small-image" style="left: 535px; top: 515px; height:50px" id="Hour Glass" onclick="removeListItem('hourglass')">
      
    </div>

    <audio id="clickSound" src="../audio/mixkit-game-click-1114.wav" preload="auto"></audio>
    <audio id="winSound" src="../audio/mixkit-ethereal-fairy-win-sound-2019.wav" preload="auto"></audio>

  </div>
  <script src="./js/Level2.js"></script>
</body>
</html>