<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="/contact"><i class="fas fa-cogs"></i> Contact us</a></li>
      <li><a href="/aboutus"><i class="fas fa-info-circle"></i> About Us</a></li>
      <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
    </ul>
  </nav>

  <div class="container">

    <h1>Sign Up</h1>
    <form action="/register" method="post" name="contactForm" onsubmit="return validateForm()">
        <input type="text" id="username" name="username" placeholder="Enter your Username" required>
        <input type="email" id="email" name="email" placeholder="Enter your Email" required>
        <div class="input_box">
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <i class='bx bx-low-vision pw_hide'></i>
            
           
        </div>
         <button class="button" >Login</button>
         <div class="login_signup">
        </div>
    </form>
  </div>

  <script>
    pwShowHide = document.querySelectorAll(".pw_hide");
    pwShowHide.forEach(icon => {
        icon.addEventListener("click", () => {
            let getPwInput = icon.parentElement.querySelector("input");
            if (getPwInput.type === "password") {
                getPwInput.type = "text";
                icon.classList.replace("bx-low-vision", "bx-show-alt");
            } else {
                getPwInput.type = "password";
                icon.classList.replace("bx-show-alt", "bx-low-vision");
            }
        })
    });
function validateForm() {
            var name = document.forms["contactForm"]["name"].value;
            var email = document.forms["contactForm"]["email"].value;
            var password = document.forms["contactForm"]["password"].value;

            // Validate email format
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                alert("Invalid email address");
                return false;
            }

            // Validate password length (minimum 8 characters)
            if (password.length < 8) {
                alert("Password must be at least 8 characters long");
                return false;
            }

            // Additional validation logic can be added here if needed

            return true;
        }

  </script>
</body>
</html>
